{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center mt-5 mb-5">Bienvenuti a VelocePosta</h1>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Clienti</h5>
                    <p class="card-text">
                        VelocePosta offre servizi di consegna same day su appuntamento, dedicati a retailers ed
                        e-commerce.
                    </p>
                    <a href="/clienti/" class="btn btn-warning">Detagli</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Posta</h5>
                    <p class="card-text">
                        I nostri delivery partner garantiscono la massima qualità e cortesia. Consegnano tramite
                        scooter e van a basso impatto ambientale, e utilizzano la nostra tecnologia per la gestione
                        degli ordini.
                    </p>
                    <a href="/posta/" class="btn btn-warning">Detagli</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}